
body {
    background-color: bla;
    margin:0px;
    margin-top: 20px;
    font-family: sans-serif;
    background-color: rgb(235, 235, 235);
}

p {
    margin: 0px;
}



/*
Move code below later 
*/

.div-userinfo-1 {
    /* background-color: grey; */
    width: 100%;

    height: 500px;
    margin-top: 100px;

    display: flex;
    justify-content: center;
}

.div-userinfo-2 {
    background-color: rgb(244, 244, 244);
    width: 60%;
    height: 100%;
    box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 6px;


    display: flex;
    justify-content: center;

}

.div-userinfo-3 {
    /* background-color: lightgoldenrodyellow; */
    height: 100%;
    width: 80%;

    display: grid;
    grid-template-rows: 1.8fr 2fr 2fr;
    justify-content: center;

}


.div-userinfo-4 {
    /* background-color: lightblue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.div-userinfo-5 {
    /* background-color: lightcoral; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */

}

.div-userinfo-6 {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}


.text-userinfo {
    font-size: 25px;
    font-weight: bold;


}


.input-location {
    /* width: 150px; */
    background-color: transparent;
    border-style: none;
    outline: none;
    margin-left: 20px;

}



.div-userinfo-7 {
    background-color: rgb(255, 255, 255);

    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 6px;



    display: grid;
    grid-template-rows: 1fr 4fr;
    align-items: center;
    justify-content: center;



}


.div-userinfo-8 {
    /* background-color: lightgreen; */

    display: flex;
    justify-content: center;


}

.div-userinfo-9 {
    /* background-color: lightcoral; */

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.input-time {
    /* width: 50px; */
}


.div-userinfo-10 {
    /* background-color: lightblue; */

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}



.div-userinfo-11 {
    box-shadow: 10px 10px 40px rgb(0, 0, 0, 0.5);
    border-radius: 6px;

    
    display: flex;
    align-items: center;
    justify-content: center;

}
.text-compute {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    color: rgb(69, 212, 69);
}